@import "tailwindcss";

@layer theme {
  /* ... */
}

@layer base {
  /* ... */
}

@layer components {
  /* ... */
}

@layer utilities {
  /* ... */
}

/* Add this line to tell Tailwind to look for the "dark" class */
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: sans-serif;
}
